In [13]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.ticker as ticker
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
pd.set_option('display.max_columns', 100)

# display plots in the notebook
%matplotlib inline

# load the real estate data
df = pd.read_csv('unegui.csv')

In [14]:
df.shape

(2440781, 17)

In [21]:
df.head()

,id,header,location,advert_id,user_id,advert_date,advert_price,image_count,paragraphs,view_count,main_features,main_categories,latitude,longtitude,main_class,parse_id,created_date
0,74126,"Scania Чирэгч, 2014","УБ — Сүхбаатар, 13-р хороолол",7604665,15021,Нийтэлсэн: 2023-10-26 11:41,38000000.0,4,['2014 onii 2021 ond irj irsen Scania P380 zar...,Үзсэн : 76,"""\""\\\""{\\\\\\\""Зориулалт:\\\\\\\"": \\\\\\\""Чи...","['Бүх зарууд', 'Автомашин', 'Ачааны машин, авт...",NaN,NaN,1,4e1074fd-eb93-4569-aa71-095b84f34d78,2023-11-13
1,74127,Lexus hs250 undurluguu,УБ — Сүхбаатар,7453057,11607,Нийтэлсэн: 2023-11-05 21:59,80000.0,1,['hereglej baisan undurluguu hyamdhan zarna'],Үзсэн : 2,"""\""\\\""{\\\\\\\""Төрөл:\\\\\\\"": \\\\\\\""Явах э...","['Бүх зарууд', 'Автомашин', 'Авто сэлбэг, тусл...",NaN,NaN,1,4e1074fd-eb93-4569-aa71-095b84f34d78,2023-11-13
2,74128,"Toyota Harrier, 2008/2023","УБ — Баянзүрх, Шар хад",7762437,261116,Нийтэлсэн: 2023-10-25 18:47,48500000.0,10,"['? Toyota Harrier Hybrid 4WD', '✔Үйлдвэрлэгдс...",Үзсэн : 221,"""\""\\\""{\\\\\\\""Урьдчилсан төлбөрийн хэмжээ:\\...","['Бүх зарууд', 'Автомашин', 'Автомашин зарна',...",NaN,NaN,1,4e1074fd-eb93-4569-aa71-095b84f34d78,2023-11-13
3,74129,"Toyota Sai, 2011/2017","УБ — Хан-Уул, Яармаг",7789276,3169770,Нийтэлсэн: 2023-11-04 14:24,16600000.0,5,['Хийх юм байхгүй асуудалгүй тэрэг нь байна. Ө...,Үзсэн : 143,"""\""\\\""{\\\\\\\""Урьдчилсан төлбөрийн хэмжээ:\\...","['Бүх зарууд', 'Автомашин', 'Автомашин зарна',...",NaN,NaN,1,4e1074fd-eb93-4569-aa71-095b84f34d78,2023-11-13
4,74130,"Lexus RX, 2013/2023","УБ — Баянзүрх, Олимп хотхон",7765669,3010846,Нийтэлсэн: 2023-10-26 20:52,73000000.0,9,['Урьдчилгаа 15%-тай хүнд 60 сарын хугацаатай ...,Үзсэн : 248,"""\""\\\""{\\\\\\\""Мотор багтаамж:\\\\\\\"": \\\\\...","['Бүх зарууд', 'Автомашин', 'Автомашин зарна',...",NaN,NaN,1,4e1074fd-eb93-4569-aa71-095b84f34d78,2023-11-13

In [15]:
df['main_categories'].describe()

count                                               2440781
unique                                                  956
top       ['Бүх зарууд', 'Үл хөдлөх', 'Үл хөдлөх зарна',...
freq                                                 154723
Name: main_categories, dtype: object

In [16]:
df.shape

(2440781, 17)

In [26]:
sda = df[df['main_categories']].str.startswith('Бүх зарууд', 'Үл хөдлөх', 'Үл хөдлөх зарна')
sda

KeyError: "None of [Index(['['Бүх зарууд', 'Автомашин', 'Ачааны машин, автобус, хүнд механизм', 'Хүнд механизм', 'Scania']',\n       '['Бүх зарууд', 'Автомашин', 'Авто сэлбэг, туслах хэрэгслүүд', 'Авто сэлбэг', 'Lexus']',\n       '['Бүх зарууд', 'Автомашин', 'Автомашин зарна', 'Toyota', 'Harrier']',\n       '['Бүх зарууд', 'Автомашин', 'Автомашин зарна', 'Toyota', 'Sai']',\n       '['Бүх зарууд', 'Автомашин', 'Автомашин зарна', 'Lexus', 'RX']',\n       '['Бүх зарууд', 'Автомашин', 'Авто сэлбэг, туслах хэрэгслүүд', 'Авто сэлбэг', 'Toyota']',\n       '['Бүх зарууд', 'Автомашин', 'Автомашин зарна', 'Toyota', 'Land Cruiser Prado']',\n       '['Бүх зарууд', 'Автомашин', 'Автомашин зарна', 'BMW', '3-сери']',\n       '['Бүх зарууд', 'Автомашин', 'Автомашин зарна', 'Toyota', 'Ist']',\n       '['Бүх зарууд', 'Автомашин', 'Ачааны машин, автобус, хүнд механизм', 'Ачааны машин', 'Hino']',\n       ...\n       '['Бүх зарууд', 'Ажлын зар', 'Барилга, дэд бүтэц', 'Барилгын туслах']',\n       '['Бүх зарууд', 'Ажлын зар', 'Дизайн, урлаг, уран сайхан', 'Зурагчин, зураглаач']',\n       '['Бүх зарууд', 'Ажлын зар', 'Барилга, дэд бүтэц', 'Барилгын туслах']',\n       '['Бүх зарууд', 'Ажлын зар', 'Барилга, дэд бүтэц', 'Сантехник, Дулаан хангамж']',\n       '['Бүх зарууд', 'Ажлын зар', 'Үйлчилгээ', 'Цэвэрлэгээний ажилтан']',\n       '['Бүх зарууд', 'Ажлын зар', 'Pесторан, кафе, паб', 'Угаагч']',\n       '['Бүх зарууд', 'Ажлын зар', 'Үйлдвэрлэл', 'Гутал, цүнхний үйлдвэр']',\n       '['Бүх зарууд', 'Ажлын зар', 'Харуул хамгаалалт', 'Хамгаалагч']',\n       '['Бүх зарууд', 'Ажлын зар', 'Борлуулалт, худалдаа', 'Худалдааны зөвлөх']',\n       '['Бүх зарууд', 'Ажлын зар', 'Харуул хамгаалалт', 'Зогсоолын ажилтан, манаач']'],\n      dtype='object', length=2440781)] are in the [columns]"